AutoCitect/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoCitect/obj/Debug/AutoCitect.vbprojAssemblyReference.cache
AutoCitect/obj/Debug/AutoCitect.vbproj.GenerateResource.cache
AutoCitect/bin/Debug/AutoCitect.exe.manifest
AutoCitect/.vs/AutoCitect/v15/Server/sqlite3/storage.ide-shm
AutoCitect/.vs/AutoCitect/v15/Server/sqlite3/storage.ide
AutoCitect/.vs/AutoCitect/v15/.suo
AutoCitect/.vs/AutoCitect/DesignTimeBuild/.dtbcache
AutoCitect/obj/Debug/AutoCitect.vbproj.FileListAbsolute.txt
AutoCitect/obj/Debug/AutoCitect.application
AutoCitect/bin/Debug/app.publish/AutoCitect.exe
AutoCitect/bin/Debug/AutoCitect.pdb
AutoCitect/obj/Debug/AutoCitect.exe
AutoCitect/bin/Debug/AutoCitect.exe
AutoCitect/bin/Debug/AutoCitect.application
AutoCitect/.vs/AutoCitect/v15/Server/sqlite3/storage.ide-wal
AutoCitect/obj/Debug/AutoCitect.vbproj.CoreCompileInputs.cache
AutoCitect/obj/Debug/AutoCitect.pdb
AutoCitect/obj/Debug/AutoCitect.exe.manifest
